.fs-home-page {
  position: relative;
  width: 900px;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;

  &__content {
    // position: relative;
    width: 900px;
    height: 500px;

    outline: 1px solid violet;
    &_left-down {
      background-color: #3a2511;
    }

    &_left-top {
      background-color: #decfa7;
    }

    &_left {
      background-color: #c9cb7b;
    }

    &_right-down {
      background-color: #99cb7b;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    width: 330px;
    box-sizing: content-box;
    color: #fff;
    padding-top: 300px;
    padding-left: 50px;
  }

  &__article-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__article-text {
    font-size: 10px;
    margin-bottom: 20px;
  }

  &__article-button {
    width: 180px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
    border: 1px solid #fff;
  }

  &__pictures {
    display: flex;
    height: 400px;
  }

  &__picture_small {
    width: 300px;

    outline: 1px solid violet;
  }

  &__new-arrivals {
    margin: 30px 50px;
    display: flex;
    flex-direction: column;
  }

  &__header-new-arrivals {
    height: 30px;
    font-size: 12px;
  }

  &__pictures-new-arrivals {
    display: flex;
  }

  &__picture-new-arrivals {
    width: 200px;
    height: 270px;

    outline: 1px solid violet;
  }

  &__instagram {
    margin: 30px 50px;
  }

  &__header-instagram {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }

  &__footer-instagram {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }

  &__pictures-instagram {
    display: flex;
    width: 800px;
  }

  &__picture-instagram {

    &_big {
      width: 50%;
      height: 400px;

      outline: 1px solid violet;
    }

    &_small {
      width: 200px;
      height: 200px;

      outline: 1px solid violet;
    }
  }

  &__pictures-instagram-set {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }
}

.fs-header {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 280px);
  width: 840px;
  height: 40px;
  line-height: 40px;
  margin: 0 30px;
  color: #fff;
  box-sizing: content-box;

  &__menu {
    display: flex;
    font-size: 10px;
  }

  &__menu-item {
    margin-right: 20px;
  }

  &__communication {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
  }

  &__title {
    text-align: center;
  }

  &__communication-item {
    margin-left: 20px;
  }
}
