@import "header";
@import "footer";

.fs-home-page {
  position: relative;
  width: 900px;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;

  &__content {
    width: 900px;
    height: 500px;

    &_left-down {
      background-color: #3a2511;
    }

    &_left-top {
      background-color: #decfa7;
    }

    &_left {
      background-color: #c9cb7b;
    }

    &_right-down {
      background-color: #99cb7b;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    width: 330px;
    box-sizing: content-box;
    color: #fff;
    text-transform: uppercase;

    &_left-down {
      padding-top: 300px;
      padding-left: 100px;
    }

    &_left {
      padding-top: 150px;
      padding-left: 100px;
    }

    &_right-down {
      padding-top: 300px;
      padding-left: 500px;
    }
  }

  &__article-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__article-text {
    font-size: 10px;
    margin-bottom: 20px;
    text-transform: none;
  }

  &__article-button {
    width: 180px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
    border: 1px solid #fff;
  }

  &__pictures {
    display: flex;
    height: 400px;
  }

  &__picture_small {
    width: 300px;
  }

  &__new-arrivals {
    margin: 30px 50px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
  }

  &__header-new-arrivals {
    height: 30px;
    font-size: 12px;
  }

  &__pictures-new-arrivals {
    display: flex;
  }

  &__picture-new-arrivals {
    width: 200px;
    height: 270px;
  }

  &__instagram {
    margin: 30px 50px;
    text-transform: uppercase;
  }

  &__header-instagram {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }

  &__footer-instagram {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }

  &__pictures-instagram {
    display: flex;
    width: 800px;
  }

  &__picture-instagram {

    &_big {
      width: 50%;
      height: 400px;
    }

    &_small {
      width: 200px;
      height: 200px;
    }
  }

  &__pictures-instagram-set {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }
}

.fs-catalog-page {
  width: 900px;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;

  &__content {
    display: flex;
    margin: 30px 50px;
  }

  &__side-column {
    width: 200px;
    margin-right: 50px;
  }

  &__categories-header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__categories-item {
    font-size: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__filters {
    font-size: 10px;
  }

  &__filters-header {
    opacity: 0.5;
    margin: 20px 0;
  }

  &__filters-item {
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__filters-icon {
    margin-right: 10px;
  }

  &__catalog-set {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    grid-gap: 40px;
  }

  &__picture {
    widows: 280px;
    height: 400px;
    background-color: #ebebeb;
  }
}
