.fs-accordion {
  display: flex;
  flex-direction: column;

  &__header {
    margin: 40px 0;
    font-size: 16px;
    color: #999;

    &_customer-service {
      font-size: 18px;
      margin-bottom: 0;
      padding-bottom: 20px;
      border-bottom: 1px solid #e5e5e5;
    }
  }

  &__info {
    margin-top: 20px;
    font-size: 12px;
    color: #000;
    text-transform: none;
  }

  &__container {
    &_customer-service {
      border-bottom: 1px solid #e5e5e5;
    }
  }

  &__input {
    display: none;
  }

  &__container-header {
    position: relative;
    display: flex;
    margin-left: 30px;
    height: 30px;
    font-size: 12px;
    cursor: pointer;

    &_customer-service {
      font-size: 16px;
      margin: 20px 0 10px 40px;
    }

    &::before {
      position: absolute;
      content: "";
      left: -30px;
      width: 10px;
      height: 10px;
      background-image: url('../img/expand-icon.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80%;
    }

    &_customer-service::before {
      left: -35px;
      top: 5px;
      background-size: 100%;
    }

    &_checked::before {
      background-image: url('../img/collapse-icon.png');
    }
  }

  &__container-content {
    overflow: hidden;
    display: none;
    font-size: 12px;
    text-transform: none;
    margin-left: 20px;
    margin-bottom: 20px;

    &_customer-service {
      margin-left: 40px;
    }
  }

  &__input:checked ~ &__container-content {
    display: block;
  }

  &_catalog-card &__container-header {
      font-size: 16px;
      cursor: pointer;
  }

  &__list {
    display: block;
  }

  &__list-item {
    cursor: pointer;
    margin-bottom: 20px;
  }
}
