.fs-bag-page {
  width: $main-width;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;

  &__content {
    width: 500px;
    margin: 10px auto;
  }

  &__header {
    display: flex;
    align-items: baseline;
    padding: 5px;
    border-bottom: 1px solid #999;
  }

  &__title {
    font-size: 16px;
    margin-right: 20px;
  }

  &__number {
    font-size: 10px;
    color: #999;
    text-transform: none;
    align-items: center;
  }
}
