.fs-button {
  height: 50px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #000;
  border: 1px solid #fff;

  &_bag {
    padding: 0 30px;
  }

  &_add-bag {
    padding: 0 30px;
    margin-bottom: 50px;
  }

  &_add-wishlist {
    width: 50px;
    background-image: url('../img/wishlist-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }

  &_remove {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
    color: #333;
    background-color: transparent;
    outline: none;

    &::before {
      position: absolute;
      left: -30px;
      content: "";
      width: 20px;
      height: 20px;
      background-image: url('../img/remove-icon.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 75%;
    }
  }

  &_join {
    position: absolute;
    right: 0;
    top: -10px;
    color: #000;
    background-color: transparent;
    border: none;
  }

  &_home-article {
    padding: 0 50px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
  }

  &_sign-up {
    margin: 0 auto;
    padding: 0 80px;
  }

  &_close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url('../img/remove-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
  }

  &_bag-modal {
    margin-bottom: 10px;
    border: 1px solid #000;

    &-view {
      color: #000;
      background-color: transparent;
    }
  }
}

