.fs-categories {

  &__header {
    font-size: 24px;
    margin-bottom: 40px;

    &_service {
      font-size: 12px;
      margin-bottom: 40px;
      color: #999;
    }
  }

  &__item {
    font-size: 12px;
    margin-bottom: 20px;
    cursor: pointer;
  }
}
