.fs-catalog-page {

  &__content {
    display: flex;
    margin: 30px 50px;
  }

  &__side-column {
    width: 200px;
    margin-right: 50px;
  }

  &__categories-header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__categories-item {
    font-size: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__filters-header {
    opacity: 0.5;
    margin: 20px 0;
    font-size: 10px;
  }

  &__catalog-set {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    grid-gap: 40px;
  }

  &__picture {
    height: 400px;
    background-color: #ebebeb;
  }
}
