.fs-footer {
  text-transform: uppercase;

  &__content {
    display: flex;
    margin-left: 50px;
  }

  &__column {
    margin-right: 70px;
  }

  &__section-header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__section-item {
    font-size: 12px;
    margin-bottom: 10px;
    cursor: pointer;

    &_social {
      display: flex;
    }

    &_contact {
      width: 150px;
      text-transform: none;
    }
  }

  &__social-icon {
    width: 24px;
    height: 24px;;
    margin-right: 20px;
  }

  &__social-name {
    height: 24px;
    line-height: 24px;
  }
}
