.fs-footer {
  text-transform: uppercase;

  &__content {
    display: flex;
    margin-left: 50px;
  }

  &__column {
    margin-right: 70px;
  }

  &__section-header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__section-item {
    font-size: 12px;
    margin-bottom: 10px;
    cursor: pointer;

    &_contact {
      width: 150px;
      text-transform: none;
    }
  }

  &__social {
    position: relative;
    margin-left: 30px;
    height: 12px;
    line-height: 12px;

    &::before {
      content: "";
      position: absolute;
      left: -30px;
      width: 24px;
      height: 24px;;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-size: 50%;
    }

    &_facebook::before {
      background-image: url('../img/facebook-logo.png');
    }

    &_odnoklassniki::before {
      background-image: url('../img/odnonklassniki-logo.png');
    }

    &_instagram::before {
      background-image: url('../img/instagram-logo.png');
    }
  }
}
