.fs-header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
  color: #fff;
  box-sizing: border-box;
  text-transform: uppercase;
  z-index: 10;

  &_black {
    position: relative;
    color: #000;
  }

  &__menu {
    display: flex;
    font-size: 12px;
    margin-top: 20px;
  }

  &__menu-item {
    margin-right: 40px;
    cursor: pointer;
  }

  &__communication {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font-size: 12px;
  }

  &__title {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
  }

  &__communication-item {
    margin-left: 40px;
    cursor: pointer;
  }

  &__search-row {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      left: -20px;
      width: 30px;
      height: 20px;
      background-image: url('../img/search-icon.png');
      background-repeat: no-repeat;
      background-size: 40%;
    }

    &_white::before {
      background-image: url('../img/search-icon-white.png');
    }
  }

  &__input {
    outline: none;
    border: none;
    width: 50px;
    height: 10px;
    background-color: transparent;

    &_white {
      color: #fff;
    }

    &::placeholder {
      text-transform: uppercase;
      font-size: 12px;
      color: #000;
      margin-bottom: 20px;
    }

    &_white::placeholder {
      color: #fff;
    }
  }
}
