.fs-header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
  color: #fff;
  box-sizing: border-box;
  text-transform: uppercase;
  z-index: 10;

  &_black {
    position: relative;
    color: #000;
  }

  &__menu {
    display: flex;
    font-size: 12px;
    margin-top: 20px;
  }

  &__menu-item {
    margin-right: 40px;
    cursor: pointer;
  }

  &__communication {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font-size: 12px;
  }

  &__title {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
  }

  &__communication-item {
    position: relative;
    margin-left: 40px;
    cursor: pointer;

    &_search::before {
      position: absolute;
      content: "";
      left: -20px;
      width: 30px;
      height: 30px;
      background-image: url('../img/search-icon.png');
      background-repeat: no-repeat;
      background-size: 40%;
    }
  }
}
