.fs-collection {
  position: relative;
  color: #fff;

  &__location {
    position: absolute;

    &_left-down {
      top: 500px;
      left: 200px;
    }

    &_left {
      top: 250px;
      left: 200px;
    }

    &_right-down {
      top: 500px;
      left: 850px;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__text {
    width: 500px;
    font-size: 14px;
    margin-bottom: 40px;
    text-transform: none;
  }
}
