.fs-wrapper {
  position: relative;
  width: $main-width;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}

.fs-row {

  &_catalog {
    display: flex;
    margin: 30px 50px;
  }

  &_service {
    display: flex;
  }

  &_product,
  &_look {
    display: flex;
    margin-bottom: 50px;
  }
}
