.fs-wrapper {
  position: relative;
  width: $main-width;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}

.fs-row {
  display: flex;

  &_catalog {
    margin: 30px 70px;
  }

  &_product {
    margin-bottom: 100px;
  }

  &_look {
    justify-content: flex-end;
    margin-bottom: 100px;
  }

  &_home {
    display: block;
  }
}
