.fs-product-picture {
  width: 500px;
  height: 800px;
  background-color: #999;

  outline: 1px solid violet;

  &_collection {
    width: 100%;
    height: 830px;
  }

  &_look {
    width: 450px;
    height: 675px;
  }

  &_set {
    width: 315px;
    height: 470px;
  }

  &_bag {
    width: 160px;
    height: 230px;
  }

  &_catalog {
    width: 450px;
    height: 670px;
  }

  &_small {
    width: 480px;
    height: 700px;
  }

  &_instagram-big {
    width: 50%;
    height: 630px;
  }

  &_instagram-small {
    width: 315px;
    height: 315px;
  }
}
