.fs-return {
  display: flex;
  margin-left: 20px;
  font-size: 8px;
  color: #999;
  margin-bottom: 30px;

  &__item {
    margin-right: 10px;
  }

  &_product {
    position: absolute;
    color: #555;
    top: 50px;
  }
}
