.fs-set {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;

  &_home-page {
    margin: 0;
    flex-direction: row;
  }

  &__header {
    display: flex;
    justify-content: center;
    height: 30px;
    font-size: 12px;
    text-align: center;

    &_instagram {
      justify-content: start;
    }

    &-item {
      margin-right: 20px;

      &_shop::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        background-image: url('../img/next-icon.png');
        background-repeat: no-repeat;
        background-position: 50% 25%;
        background-size: 50%;
      }
    }
  }

  &__footer {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }

  &__pictures {
    display: flex;
  }

  &__pictures-set {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
  }
}
