.fs-side-column {
  width: 300px;
  margin-right: 50px;

  &_product {
    padding: 50px 0 0 50px;
    margin: 0;
    box-sizing: border-box;
  }

  &_look {
    margin-right: 0;
    margin-left: 150px;
  }

  &__title {
    &_look {
      font-size: 40px;
      text-transform: none;
      margin-top: 150px;
    }
  }

  &__sort {
    display: flex;
    margin-top: 20px;
    font-size: 16px;

    &-type {
      margin-right: 10px;
    }
  }
}
