.fs-side-column {
  width: 200px;
  margin-right: 50px;

  &_product {
    padding: 30px 0 0 30px;
    margin: 0;
    box-sizing: border-box;
  }

  &_look {
    margin-right: 0;
    margin-left: 150px;
  }

  &__title {
    &_look {
      font-size: 30px;
      text-transform: none;
      margin-top: 70px;
    }
  }
}
