.fs-sign-up-form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 560px;
  margin: 30px auto;
  border: 1px solid #e5e5e5;
  padding: 40px 50px;
  box-sizing: border-box;

  &__header {
    font-size: 24px;
    margin-bottom: 40px;
  }

  &__input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }

  &__input-item {
    border: none;
    outline: none;
    font-size: 14px;
    color: #e5e5e5;
  }

  &__confirmation {
    display: flex;
    margin: 20px 0;
  }

  &__checkbox {
    display: none;
  }

  &__input-agreement {
    position: relative;
    margin-left: 30px;
    font-size: 11px;
    text-transform: none;
    cursor: pointer;

    &::before {
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      left: -30px;
      border: 1px solid #999;
      border-radius: 3px;
      background-color: #000;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 75%;
    }

    &_checked::before {
      background-image: url('../img/checkbox-icon.png');
    }
  }

  &__agreement {
    font-size: 12px;
    text-transform: none;
    color: #999;
    margin-bottom: 20px;
  }

  &__agreement-document {
    text-transform: none;
    color: #000;
  }

  &__have-account {
    margin-top: 40px;
    font-size: 12px;
    color: #000;
  }
}
