@import "variables";
@import "header";
@import "footer";
@import "home-page";
@import "catalog";
@import "product";
@import "bag";
@import "customer-service-page";
@import "sign-up-form";
@import "side-column";
@import "categories";
@import "accordion";
@import "price";
@import "button";
@import "dropdown-menu";
@import "picture";
@import "return";
@import "set";
@import "subscription-form";

.fs-wrapper {
  position: relative;
  width: $main-width;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}

.fs-row {

  &_catalog {
    display: flex;
    margin: 30px 50px;
  }

  &_service {
    display: flex;
  }

  &_product,
  &_look {
    display: flex;
    margin-bottom: 50px;
  }
}
