@import "variables";
@import "header";
@import "footer";
@import "home-page";
@import "catalog-page";
@import "product";
@import "bag";
@import "customer-service-page";
@import "sign-up-form";
@import "accordion";
@import "price";
@import "button";
@import "dropdown-menu";

.fs-wrapper {
  position: relative;
  width: $main-width;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}
